<div id="welcome-login">
  <div class="form-content">
    <div class="row">
    <center>

    <% if flash[:failure] %>
      <div id="error_explanation">
        <h2><%= flash[:failure] %></h2>
      </div>
    <% flash[:failure] = nil %>
    <% end %>
    <p>Login Here</p>
    <%= form_tag(controller: "sessions", action: "login", method: "get") %>
      <div class="field">
      	<%= text_field_tag "user_input", nil, :placeholder => "Username or Email" %>
      </div>
    	<div class="actions">
      	<%= password_field_tag "password", nil, :placeholder => "Password" %>
      </div>
      <div class="actions">
    	   <%= submit_tag "Login", class: "button medium default radius nav-button" %>
      </div>
    </div>
    </div>
  </center>
</div>
