<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Please fix <%= pluralize(@user.errors.count, "error") %>:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-content">
  <div class="row">
  <% email = nil if local_assigns[:email].nil? %>

  <% if @user.active %>
    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username, placeholder: "Name" %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %><br>
    <% if email %>
      <%= f.text_field :email, value: email %>
    <% else %>
      <%= f.text_field :email, placeholder: "Email" %>
    <% end %>
  </div>
  <% if @user.active %>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone, placeholder: "Phone" %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="actions">
    <%= submit_tag 'edit_user_path', class: "button small default radius nav-button" %>
  </div>
</div>
</div>

<% end %>
