<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Please fix <%= pluralize(@user.errors.count, "error") %>:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-content">
  <div class="row">
    <div class="centered">
      <% email = nil if local_assigns[:email].nil? %>
      <% if @user.active %>
        <div class="field">
          <p>Username</p>
          <%= f.text_field :username, placeholder: "Name" %>
        </div>
      <% end %>
      <div class="field">
        <p>Email</p>
        <% if email %>
          <%= f.text_field :email, value: email %>
        <% else %>
          <%= f.text_field :email, placeholder: "Email" %>
        <% end %>
      </div>
      <% if @user.active %>
        <div class="field">
          <p>Phone</p>
          <%= f.text_field :phone, placeholder: "Phone" %>
        </div>
      <% end %>
      <div class="field">
        <p>Password</p>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
      <div class="actions">
        <% if @user.active %>
         <%= submit_tag 'edit', class: "button medium default radius nav-button" %>
        <% else %>
          <%= submit_tag 'create account', class: "button medium default radius nav-button" %>
        <% end -%>
      </div>
   </div>
  </div>
</div>

<% end %>
