<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Please fix <%= pluralize(@user.errors.count, "error") %>:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% email = nil if local_assigns[:email].nil? %>

  <div class="field">
    <%= f.label :email %><br>
    <% if email %>
      <%= f.text_field :email, value: email %>
    <% else %>
      <%= f.text_field :email, placeholder: "Email" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>