<center><h1> PICK HISTORY </h1> </center>
 <center> <p class="history-description"> here are your lottery picks</p> </center>
 <center>
  <div class="user-picks">
    <% @session_id = session[:user_id] %>
    <div class="pick-history-list">
      <% @user.picks.each do |pick| %>
      <div class="pick-items">
          <div class="number-row">
            <%if pick.result %>
              <p class='pick-num'><%= pick.number %> -- <%= pick.result %></p>
            <%else%>
              <p class='pick-num'><%= pick.number %> -- <span class='pending'>Pending resoult</span></p>
            <%end%>
          </div>
          <div class="pick-info">
            <p class='pick-date'><%= pick.draw_date.to_s[0..10] %> • <%= pick.game.upcase %></p>
          </div>
          <div class="trash-pic">
             <%= link_to image_tag("trash.png", class:"trash"), pick, method: :delete %>
          </div>
      </div>
     <br>
    <% end %>
  </div>
</div>
<br><br>
<%= link_to 'CREATE A PICK', pick_path, class: "button medium default radius nav-button" %>

</center>
