<div class="form-content">
  <%= form_tag(picks_path, method: "post") do %>
    <% if !session[:user_id] %>
      <%= email_field_tag 'pick[email]',nil, placeholder: 'email' %>
    <% else %>
      <%= hidden_field_tag 'pick[email]',"#{User.find(session[:user_id]).email}"%>
    <% end %>
<div class="row">
  <%= text_field_tag 'pick[game]',nil, placeholder: 'game' %>
    <div class="row collapse prefix-radius">
      <div class="small-2 columns">
        <%= number_field_tag 'pick[number1]',nil, placeholder:'0', class: "large-2 columns" %>
      </div>
      <div class="small-2 columns">
        <%= number_field_tag 'pick[number2]',nil, placeholder:'0', class: "large-2 columns" %>
      </div>
      <div class="small-2 columns">
        <%= number_field_tag ' pick[number3]',nil, placeholder:'0', class: "large-2 columns" %>
      </div>
      <div class="small-2 columns">
        <%= number_field_tag 'pick[number4]',nil, placeholder:'0', class: "large-2 columns" %>
      </div>
      <div class="small-2 columns">
        <%= number_field_tag 'pick[number5]',nil, placeholder:'0', class: "large-2 columns" %>
      </div>
      <div class="small-2 columns">
        <%= number_field_tag 'pick[number6]',nil, placeholder:'0', class: "large-2 columns" %>
      </div>
    <%= date_field_tag 'pick[draw_date]',nil, placeholder: 'date' %>
    <%= check_box_tag 'pick[multiplier]'%>
  </div>
  <% if !session[:user_id] %>
    <%= submit_tag 'lotifyme' %>
    <%= submit_tag 'signup' %>
  <% else %>
      <%= submit_tag 'lotifyme' %>
    <% end %>

  <% end %>

</div>
