<div id="msform">
  <ul id="progressbar">
    <li class="active">Your Picks</li>
    <li>Lottery Info</li>
    <li>LotifyMe</li>
  </ul>
  <div class="form-content">
    <%= form_tag(picks_path, method: "post") do %>
    <fieldset>
      <h2 class="fs-title">Lotto Info</h2>
      <h3 class="fs-subtitle">Please Provide Some Game Information</h3>
       <h3 class="fs-title"> Select the Game:</h3>
       <select name='pick[game]'>
          <option value="MegaMillion">Mega Millions</option>
          <option value="Powerball">Power Ball</option>
          <option value="NyLotto">NY Lotto</option>
          <option value="Cash4Life">Cash4Life</option>
          <option value="Take5">Take5</option>
          <option value="Pick10">Pick10</option>
        </select>
      <h4 class="fs-title"> Draw Date</h4>
      <%= date_field_tag 'pick[draw_date]', nil, placeholder: 'date' %>
      <input type="submit" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
    <div class="first-page">
    <h2 class="fs-title">What are your Lotto Numbers?</h2>
      <div class="row">
        <ul class="small-block-grid-6 small-centered columns large-block-grid-6 large-centered columns">
          <li><%= text_field_tag 'pick[number1]', nil, class: "small-centered-6 columns large-6 columns", maxlength: 2, step: 1, placeholder:'0' %></li>
          <li><%= text_field_tag 'pick[number2]',nil, class: "small-centered-6 columns large-6 columns", maxlength: 2, step: 1, placeholder:'0' %></li>
          <li><%= text_field_tag 'pick[number3]',nil, class: "small-centered-6 columns large-6 columns", maxlength: 2, step: 1, placeholder:'0'%></li>
          <li><%= text_field_tag 'pick[number4]',nil, class: "small-centered-6 columns large-6 columns", maxlength: 2, step: 1, placeholder:'0'%></li>
          <li><%= text_field_tag 'pick[number5]',nil, class: "small-centered-6 columns large-6 columns", maxlength: 2, step: 1, placeholder:'0'%></li>
          <li> <%= text_field_tag 'pick[number6]',nil, class: "small-centered-6 columns large-6 columns", maxlength: 2, step: 1,
          placeholder:'0'%></li>
          <h2 class="fs-title">If you have a multiplier, check box: </h2>
            <%= check_box_tag 'pick[multiplier]'%>
          </ul>
        </div>
      </div>
          <input type="submit" name="next" class="next action-button" value="Next" />
           <input type="submit" name="previous" class="previous" value="Previous" />
    </fieldset>

    <fieldset>
        <% if !session[:user_id] %>
          <h2 class="fs-title">LotifyMe</h2>
          <h3 class="fs-subtitle">Enter Your Email:</h3>
          <%= email_field_tag 'pick[email]', nil, placeholder: 'email' %>
          <%= submit_tag 'Create and account', class: "important action-button" %>
          <%= submit_tag 'Just send me an email', class: "no_important action-button"%>
        <% else %>
          <%= hidden_field_tag 'pick[email]',"#{User.find(session[:user_id]).email}"%>
          <%= submit_tag 'Done', class: "action-button" %>
        <% end %>
      <input type="submit" name="previous" class="previous" value="Previous" />
    </fieldset>

    <% end %>
  </div>
</div>
