
<div class="form-content">
  <div class="row">
    <%= form_tag(picks_path, method: "post") do %>
      <% if !session[:user_id] %>
        <%= email_field_tag 'pick[email]',nil, placeholder: 'email' %>
      <% else %>
        <%= hidden_field_tag 'pick[email]',"#{User.find(session[:user_id]).email}"%>
      <% end %>
    <%= text_field_tag 'pick[game]',nil, placeholder: 'game' %>
    <%= date_field_tag 'pick[draw_date]',nil, placeholder: 'date' %>
    <div class="row collapse prefix-radius">
      <ul class="small-block-grid-6 large-block-grid-6">
          <li><%= number_field_tag 'pick[number1]',nil, placeholder:'0', class: "large-6 columns" %></li>
          <li><%= number_field_tag 'pick[number2]',nil, placeholder:'0', class: "large-6 columns" %></li>
          <li><%= number_field_tag ' pick[number3]',nil, placeholder:'0', class: "large-6  columns" %></li>
          <li><%= number_field_tag ' pick[number3]',nil, placeholder:'0', class: "large-6 columns" %></li>
          <li><%= number_field_tag 'pick[number5]',nil, placeholder:'0', class: "large-6 columns" %></li>
          <li> <%= number_field_tag 'pick[number6]',nil, placeholder:'0', class: "large-6 columns" %> </li>
      </ul>
    </div>
    <div class="form-submit-buttons">
      <center>
      <h4><%= check_box_tag 'pick[multiplier]'%></h4>
      <% if !session[:user_id] %>
        <%= submit_tag 'lotifyme', class: "button small default radius nav-button"%>
        <%= submit_tag 'signup', class: "button small default radius nav-button" %>
      <% else %>
        <%= submit_tag 'lotifyme', class: "button small default radius nav-button" %>
      <% end %>
      </center>
    </div>
    <% end %>
  </div>
</div>
