<%= form_for @pick do |f| %>

  <% if @pick.errors.any? %>
    <div id="error_explanation">
      <h2>Please fix <%= pluralize(@pick.errors.count, "error") %>:</h2>
      <ul>
      <% @pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.password_field :number, placeholder: "Number" %>
  </div>
  <div class="actions">
    <%= f.submit :lottify %>
  </div>
  <div class="actions">
    <%= f.submit :signup %>
  </div>

<% end %>