<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
        <div class="logo">
          <span><h1><a href="/">Lotify Me</a></h1></span>
        </div>
    </li>
</ul>
 <section class="top-bar-section">
  <ul class="right">
    <li class="has-dropdown">
     <% if !session[:user_id] %>
        <li><%= link_to 'LOGIN', login_path, class: "button small default radius nav-button" %></li>
        <li><%= link_to 'SIGN UP', signup_path, class: "button small radius nav-button" %></li>
     <% else %>
        <% @session_id = session[:user_id] %>
        <li class="active" ><a href="/users/<%= session[:user_id] %>"> <%= User.find(@session_id).username %></a></li>
        <li><%= link_to 'MY PROFILE', user_path(@session_id), class: "button small default radius nav-button" %></li>
        <li><%= link_to 'EDIT PROFILE', edit_user_path(@session_id), class: "button small default radius nav-button" %></li>
        <li><%= link_to 'LOGOUT', logout_path, class: "button small default radius nav-button" %></li>
    <% end %>
    </li>
   </ul>
</section>
</nav>
