    <nav class="tab-bar show-for-small">
      <a class="left-off-canvas-toggle menu-icon" aria-expanded="false">
        <span></span>
      </a>
    </nav>
    <section class="middle tab-bar-section">
    <a href="/"> <img src="<%= asset_path 'lotifyme.png' %>" class="logo2"></img> <span class="beta">Beta</span></a>
  </section>
  <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <% if !session[:user_id] %>
            <li><label class="first">blabla</label></li>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Login', login_path %></li>
            <li><%= link_to 'Sign up', signup_path %></li>
          <% else %>
            <% @session_id = session[:user_id] %>
            <li><label class="first"><%= User.find(@session_id).username %></label></li>
            <li><%= link_to 'My picks', user_path(@session_id) %></li>
            <li><%= link_to 'Edit profile', edit_user_path(@session_id) %></li>
            <li><%= link_to 'Logout', logout_path %></li>
          <% end %>
        </ul>
        <hr>
        <ul class="off-canvas-list">
          <li><label class="first">Learn</label></li>
          <li><a href="/">Features</a></li>
          <li><a href="/login">FAQ</a></li>
        </ul>
    </aside>
    <nav class="top-bar hide-for-small height" data-topbar>
      <ul class="title-area">
        <li class="name">
        <h1><a href="/"><img src="<%= asset_path 'lotifyme.png' %>" class="logo2"><span class='beta' >Beta</span></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <% if !session[:user_id] %>
              <li><%= link_to 'Login', login_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign Up', signup_path %></li>
         <% else %>
         <% @session_id = session[:user_id] %>
            <% if User.find(@session_id).username %>
              <li><a href="" id="username"><%= User.find(@session_id).username %></li></a>
            <% end %>
              <li class='navrigth'><%= link_to 'My Picks', user_path(@session_id) %></li>
              <li class="divider"></li>
              <li class='navrigth'><%= link_to 'Edit Profile', edit_user_path(@session_id) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Logout', logout_path %></li>
          </a><li>
         <% end %>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="business/services.html" class="">About</a>
          <ul class="dropdown">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Team</a></li>
          </ul>
        </li>
    </section>
</nav>
