<!DOCTYPE html>
<html>
<head>
  <title>LottifyMe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body >
  <div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <header>
      <%= render partial: "/layouts/navigation", locals: {user: @user }%>
    </header>
    <% if flash[:error] %>
      <div class='error_message'><%= flash[:error] %></div>
    <% end %>

    <%= yield %>
  </div>

</div>

</body>

</html>
