<!DOCTYPE html>
<html>
<head>
  <title>LotifyMe - Beta</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%= asset_path 'favicon-32x32.png' %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale = 1.0" />
  <meta name="author" content="Daniel Rodriguez, Daniel K Chan, Stephanie Barreyro, Carl Schubert">
    <meta name="description" content="lottery notification app that makes searching and getting results much easier. If the draw was in the past, we tell you if you won, and if it's in the future we will tell you as soon as the draw happens if you won.  No more forgetting about lottery tickets, or spending time figuring out where to check for results and more time getting your lottery money and spending it.">
    <meta name="keywords" content="lottery, lotto, Powerball, Mega Millions, Ny Lotto, new york lotto, cahs 4 life, millionare, billionare, rich, jackpot, game, jackpot games, millions">
</head>
<body >
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <header>
        <%= render partial: "/layouts/navigation", locals: {user: @user }%>
      </header>
      <% if flash[:error] %>
        <div class='error_message'><p class="notice"><%= flash[:error] %></p></div>
      <% elsif flash[:notice] %>
        <div class='notice_message'><p class="notice"><%= flash[:notice] %></p></div>
      <% end -%>
      <section class="main-section">
        <%= yield %>
      </section>
      <a class="exit-off-canvas" href="#"></a>
  </div>
</div>

</body>

</html>
